//
   Created by Grea on 2017/3/2.

#detailPage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-hd
        .container
          .ui-topbar
            .ui-title.clearfix
              span.ui-common-title 2017政府工作报告&nbsp;&nbsp;·&nbsp;&nbsp;
              span.ui-module-title
            .ui-aside-toggle
              img(src="./images/icon-nav.png")

      .ui-bd
        .ui-scroll#uiContentScroll
          .ui-scroll-inner
            .ui-player
              img(src="http://img1.gtimg.com/news/pics/hv1/144/147/1798/116952579.jpg" width="100%")
            .ui-abstract#detailAbscract
              .ui-abstract-inner
              .ui-banner
                img(src="./images/banner.png" width="100%")

            .ui-content


      #detailAside.ui-aside
        ul.ui-menus.list-unstyled
