//
   Created by Grea on 2017/3/2.

#detailPage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-hd
        .container
          .ui-topbar
            .ui-title.clearfix
              span.ui-common-title 2017政府工作报告&nbsp;&nbsp;·&nbsp;&nbsp;
              span.ui-module-title
            .ui-aside-toggle
              img(src="./images/icon-nav.png")

      .ui-bd
        .ui-scroll#uiContentScroll
          .ui-scroll-inner
            .ui-player
              #uiPlayer(style="width: 320px; height:200px")
              .ui-video-play
            .ui-abstract#detailAbscract
              .ui-abstract-inner
              .ui-banner
                img(src="./images/banner.png" width="100%")

            .ui-content
      .ui-ft
        .ui-shares.text-center
          button.btn.btn-sm.btn-back 返回首页
          button.btn.btn-sm.btn-share 我要分享

      #detailAside.ui-aside
        ul.ui-menus.list-unstyled
