//
   Created by Grea on 2017/3/2.

#homePage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-bd
        .ui-report-info.clearfix
          .ui-report-text.animated.slideInLeft
            img(src="./images/report-text.png" alt="2017年全国两会")
          .ui-report-logo.animated.slideInDown
            img(src="./images/report-logo.png" alt="政府工作报告")
        .ui-navs-wrapper
          ul.ui-navs.list-unstyled

        .div.text-center.ui-arrow-tip(style="color:#fff")
          i.glyphicon.glyphicon-chevron-down

      .ui-ft.clearfix
        p.ui-copyright-text
          img(src="./images/china-copyright.png")

