//
   Created by Grea on 2017/3/2.

#loadingPage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-bd
        .ui-loading
          .ui-report-info.clearfix
            .ui-report-text.animated.slideInLeft
              img(src="./images/report-text.png" alt="2017年全国两会")
            .ui-report-logo.animated.zoomIn
              img(src="./images/report-logo.png" alt="政府工作报告")
              .ui-loading-mask.ui-full
                div
          .ui-loading-text.text-center
            .ui-loading-progress 0%
            div 奋力加载中...
      .ui-ft.clearfix
        p.ui-copyright-logo
          img(src="./images/china-logo.png")
        p.ui-copyright-text
          img(src="./images/china-copyright.png")
