//
   Created by Grea on 2017/3/2.

#gamePage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-bd
        .ui-idiom-game
          .idiom-game-image
            .idiom-game-image-inner
              img#gameImage.img-circle
          .idiom-game-input
            .idiom-game-answer#gameAnswer
              dl.idiom-game-form.clearfix
                dd
                dd
                dd
                dd
              span.idiom-game-answer-tip
                i.glyphicon.glyphicon-remove-sign
                i.glyphicon.glyphicon-ok-sign
            .idiom-game-control#gameControl
              dl.idiom-game-words.clearfix
                dd
                dd
                dd
                dd
                dd
                dd
                dd
                dd
                dd
                dd
      .ui-ft.clearfix
        p.text-center.ui-game-tip
          i.glyphicon.glyphicon-info-sign
          | &nbsp;&nbsp;提示: 点击输出文字猜成语
