//
   Created by Grea on 2017/3/2.

#homePage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-bd
        .ui-idiom-welcome
          .idiom-welcome-lkq
            img(src="./images/photo-lkq.png")
          .idiom-welcome-game
            .idiom-welcome-game-mask
          .idiom-welcome-play
            button#play.btn.btn-lg.btn-success.btn-idom-play 开始游戏
