//
   Created by Grea on 2017/3/2.

#homePage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-bd
        .ui-bd-highlight.ui-bd-bg
        .ui-bd-tam.ui-bd-bg
        .ui-bd-finger
          img(src="./images/idiom/home/bg-finger.png")
        .ui-home-title
          img(src="./images/idiom/home/text-cai.png")
          img(src="./images/idiom/home/text-cheng.png")
          img(src="./images/idiom/home/text-yu.png")
          img(src="./images/idiom/home/text-zan.png")
          img(src="./images/idiom/home/text-zong.png")
          img(src="./images/idiom/home/text-li.png")
        .ui-home-people
          img(src="./images/idiom/home/people.png")
        .ui-home-play
          a#play.ui-btn-play(data-idiom='工匠精神')
