// Created by Grea on 2017/3/2.

#loadingPage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-bd.text-center
        .ui-loading
          .ui-loading-progress
            img(src="./images/idiom/game.png")
            //img.ui-loading-writing(src="./images/maobi-writing.png")
            //img.ui-loading-maobi(src="./images/maobi.png")
          //p.ui-loading-text.text-center
        p.ui-loading-percent 100%
        p 建议在wifi环境下观看，土豪请忽略
      .ui-ft.clearfix
        p.ui-bottom-logo
          img(src="./images/idiom/logo.png")
