// Created by Grea on 2017/3/2.	

#loadingPage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-bd
        .ui-loading
          .ui-loading-progress
            img.ui-loading-writing(src="./images/maobi-writing.png")
            span.ui-loading-percent 100%
            img.ui-loading-maobi(src="./images/maobi.png")
          p.ui-loading-text.text-center 
            | 游戏正在加载中，请耐心等待...
        h3.text-center 猜成语 赞总理
      .ui-ft.clearfix
        p
          img(src="./images/logo-guoqing.jpg")
        p 出品：中国网 设计制作：中国网国情频道编辑部
