//
   Created by Grea on 2017/3/14.

#share
a#audio(href="#")
  i.glyphicon.glyphicon-volume-off
  i.glyphicon.glyphicon-volume-up.main
  i.glyphicon.glyphicon-music.sup1.sup
  i.glyphicon.glyphicon-music.sup2.sup
  audio(autoplay="true" controls="false" src="./images/idiom/bg.mp3" loop="true" style="display:none")
