//
   Created by Grea on 2017/3/3.

#resultPage.ui-page.animated
  .ui-scroll
    .ui-scroll-inner
      .ui-bd
        .container.ui-result-score

        .container.ui-result-awards
      .ui-ft
        p.ui-result-actions

        p.ui-bottom-logo
          img(src="./images/idiom/logo.png")
