//
   Created by Grea on 2017/3/2.

doctype html
html(lang="en")
  head
    include partials/meta
    title 2017政府工作报告 - 中国网
    include partials/styles

    // build:css styles/report.css
    link(rel="stylesheet" href="styles/main.css")
    // endbuild
  body
    .wrapper
      // loading page
      include report/loading

      // home page
      include report/home

      // detail page
      include report/detail

    // other partials
    include common/wechat

    include partials/scripts
    // build:js scripts/report.js
    script(src="scripts/main.js")
    // endbuild
