doctype html
html
  head
    include partials/meta
    title 中国网H5
    include partials/styles
  body
    .container
      .page-header
        h1 中国网 h5
      ul.list-group
        li.list-group-item
          a(href="./idiom.html") 猜成语赞总理
        li.list-group-item
          a(href="./report.html") 政府工作报告
