doctype html
html
  head
    div#wx_pic(style="margin:0 auto;display:none;")
      img(src="./images/wechat-share.png")
    include partials/meta
    title 政府工作报告 - 中国网
    include partials/styles
    // build:css styles/report.css
    link(rel="stylesheet" href="styles/report.css")
    // endbuild
  body
    .wrapper
      // loading page
      include report/loading

      // home page
      include report/home

      // detail page
      include report/detail

    include common/wechat
    include partials/scripts
    // build:js scripts/report.js
    script(src="scripts/report-data.js")
    script(src="scripts/report.js")
    // endbuild
