//
   Created by Grea on 2017/3/2.

// build:js scripts/vendor.js
// bower:css
link(rel='stylesheet', href='../../../bower_components/animate.css/animate.css')
// endbower
// endbuild

// build:js scripts/main.js
script(src="scripts/main.js")
// endbuild
