//
   Created by Grea on 2017/3/2.

// build:css styles/vendor.css
// bower:css
link(rel='stylesheet' href='/bower_components/animate.css/animate.css')
// endbower
// endbuild

// build:css styles/main.css
link(rel="stylesheet" href="styles/main.css")
// endbuild
